.lginform {
    height: 502px;
    position: relative;
    width: 576px;
    margin-top: 150px;
    margin-left: 500px;
  }
  
  .lginform .login-form {
    height: 502px;
    position: fixed;
    width: 590px;
  }
  
  .lginform .rememberme {
    color: #b7a3a3;
    font-family: "TharLon-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 39px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 272px;
    width: 168px;
  }
  .lginform .forgot-password {
    color: #120f0f;
    font-family: "TharLon-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 350px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 272px;
    width: 192px;
  }
  
  .lginform .checkbox {
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: #000000;
    border-radius: 5px;
    height: 23px;
    left: 3px;
    position: absolute;
    top: 272px;
    width: 23px;
  }
  
  
  
  .lginform.overlap-group {
    height: 67px;
   
    position: absolute;
    
    width: 561px;
  }
  .btnlog{
    background-color: rgba(16, 185, 129, 1);
    border: 1px solid;
    border-color: #0e0e0e;
    border-radius: 10px;
    height: 67px;
    margin-top: 400px;
    left: 3px;
    position: absolute;
    top: 40px;
    width: 561px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }
  
  
  
  .lginform .text-wrapper-4 {
    color: #ffffff;
    font-family: "TharLon-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 227px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 13px;
    white-space: nowrap;
    width: 114px;
  }
  
  .lginform .create-a-new-account {
    color: #000000;
    font-family: "TharLon-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 123px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    text-decoration: underline;
    top: 459px;
    width: 333px;
  }
  
  
  
  .lginform .email {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #0e0e0e;
    border-radius: 10px;
    height: 67px;
    left: 3px;
    position: absolute;
    top: 70px;
    width: 561px;
    font-size: 30px;
  }
  
  .lginform .pass {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #0e0e0e;
    border-radius: 10px;
    height: 67px;
    left: 3px;
    position: absolute;
    top: 170px;
    width: 561px;
    font-size: 30px;
    
  }
  .image {
    
  background-position: center;
    height: 1184px;
    width: 2184px;
  }
  
  .image .img {
    height: 1184px;
    left: 95px;
    position: fixed;
    top: 35px;
    width: 2184px;
  }
  .label {
    height: 105px;
    width: 532px;
  }
  
  .label .we-are-MEDPICK {
    color: transparent;
    font-family: "TharLon-Regular", Helvetica;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: fixed;
    width: 532px;
    top: 300px;
  }
  
  .label .we {
    color: #521313;
  }
  
  .label .span {
    color: #009449;
  }

  .welcomelabel {
    height: 92px;
    width: 600px;
  }
  
  .welcomelabel .welcome {
    color: #a98989;
    font-family: "TharLon-Regular", Helvetica;
    font-size: 45px;
    font-weight: 400;
    
    letter-spacing: 0;
    line-height: normal;
    position: fixed;
    top: 450px;
    width: 600px;
  }